:root {
  --white-color: #FFFCE4;
}

*, *::after, *::before {box-sizing: border-box; margin: 0;}

@font-face {
  font-family: avenir;
  src: url(/font/avenir-next.otf);
}
@font-face {
  font-family: fredoka;
  src: url(/font/fredoka.ttf);
}
@font-face {
  font-family: urbanist;
  src: url(/font/urbanist.ttf);
}

body {
  margin: 0;
  background-color: #000;

  background-image: url(/images/purple-glow.png), url(/images/horny-background.png);
  background-blend-mode: exclusion;

  background-position: 0px 0px, left top;
  transition: background-position 1s linear;
  background-repeat: no-repeat, repeat;
  background-size: 400px 400px, 100%;
  color: var(--white-color);
  font-family: fredoka;
  font-weight: 400;
}

img {
  max-width: 100%;
  user-select: none;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: inherit;
  font-family: inherit;
}

button {
  font-family: avenir;
  padding: 10px 25px;
  background: transparent;
  border-radius: 5px; 
  border: 1px solid var(--white-color);
  border-bottom: 3px solid var(--white-color);
  color: var(--white-color);
  cursor: pointer;
}

button:active {
  transform: translateY(3px);
  transition: transform 1ms;
}

.container {
  width: 80%;
  margin: 0 auto;
}

/* header { background-color: red;} */
.header-container {
  display: grid;
  justify-content: center;
  text-align: center;
  padding: 100px 0;
  gap: 40px;
}

header h1 {
  /* position: relative; */
  font-size: 50px;
  font-weight: 600;
}

.header-info > * {
  margin-block-end: 30px;
}
.header-info p {
  font-weight: 500;
  font-size: 32px;
}

header button,
.image {
  width: fit-content;
  margin: 0 auto;
}

nav {
  background: rgba(19, 19, 19, 0.1);
  padding: 30px 0;
  font-family: urbanist;
  font-weight: 400;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.nav > * {
  display: flex;
  gap: 20px;
  align-items: center;
}

.night-mode {
  width: 20px;
  cursor: pointer;
}

.logo h2 {
  font-family: avenir;
  font-weight: 500;
}
/* 
#lower-nav {
  position: sticky;
  background-color: rgba(19, 19, 19, 0.7);
  backdrop-filter: blur(15px);
  top: 0;
} */
/* end of navigation bar style */

/* main content START */
main {
  min-height: 80vh;
  /* padding: 100px 0; */
}

section {
  border-top: 1px solid var(--white-color);
  padding: 100px 0;
}
section p:not(.testimony) {
  line-height: 34px;
}

.partners > img {
  display: block;
}
.partners {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
}


.center {
  text-align: center;
  width: fit-content;
  max-width: 800px;
  margin: 0 auto;
}
.caption {
  width: 80%;
  max-width: 800px;
}

section > .container > * {
  margin-block-end: 20px;
}


.column p {
  margin: 20px 0;
}

/* main contents END */

/* beginning of the 'two footers' style */
#footer {
  background-image: url(/images/stars-background.png), 
  url(/images/stars.png), url(/images/stars.png);
  background-position: left top, 5% 10%, 80% center;
  background-repeat: repeat, no-repeat, no-repeat;
  background-blend-mode: difference;
  text-align: center;
  padding: 100px 0;
}

#footer .container > * {
  margin-block: 20px;
}

#footer h2, #footer p {text-align: left;}
#footer p {padding: 0 20px;}

#socials {
  border-top: 1px solid var(--white-color);
  padding: 20px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}

#socials > * {
  display: flex;
  align-items: center;
  gap: 10px;
}

#footer-links {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 24px;
}

footer p {font-size: 24px;}
.footer-heading {margin-bottom: 30px;}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}

@media (width < 750px) {
  /* nav {
    padding: 30px 20px;
  } */
  header h1 {
    font-size: 25px;
  }
  header h1 img {
    width: 30px;
  }

  /* #higher-nav {
    padding: 20px;
  } */

  /* #higher-nav > div.nav > div:first-child {
    display: none;
  } */

  #higher-nav .logo h2 {
    display: none;
  }

  /* #lower-nav .night-mode {
    display: none;
  } */

  #socials {
    padding-left: 75px;
  }
}

@media (width < 900px ) {
  .header-image {
    display: none;
  }
}

@media (width > 750px) {
  #socials {
    flex-direction: row;
    align-items: center;
  }

  section h2 {
    font-weight: 500;
    font-size: 50px;
  }
  section p:not(.testimony) {
    font-size: 24px;
  }

  .image-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .image-grid > *:first-child {
    grid-row: span 2;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .demacated {
    border-right: 1px solid #fffcef;
    padding-right: 30px;
  }

}

@media (width > 850px) {
  .about-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }

}

@media (width > 1050px) and (width < 1550px) {
  .header-container {
    grid-template-columns: 1fr;
    max-width: 700px;
  }
}

@media (width > 1050px) {
  
  
  .header-image {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px
  }
  
  .image-ring {
    --width: 200px;
    --bg-color: #000;
    --first-stop: rgb(73, 72, 72);
    --second-stop: white;
    
    width: var(--width);
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: powderblue;
    border: 15px solid var(--bg-color);
    position: relative;
    display: grid;
    place-items: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .image-ring::after,
  .image-ring::before {
    aspect-ratio: 1;
    content: "";
    position: absolute;
    border-radius: 50%;

    background: conic-gradient(
      var(--first-stop), 
      var(--second-stop), 
      var(--first-stop))
    ;

    animation-name: spin;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
  }
  
  .image-ring::before {
    box-sizing: content-box;
    width: calc(var(--width) + 5px);
    z-index: -1;
    border: 15px solid var(--bg-color);
    animation-direction: reverse;
  }
  
  .image-ring::after {
    width: calc(var(--width) + 40px);
    z-index: -200;
  }

  .ring-one {
    --width: 220px;
    align-self: end;
  }
  .ring-two {
    --width: 300px;
  }
  .ring-three {
    --width: 120px;
    justify-self: end;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  

  #footer-links {
    flex-direction: row;
    justify-content: space-between;
  }
  
  #footer-links > * {
    flex: 1;
  }

  .table {
    display: flex;
    gap: 30px;
  }

  .moon-app {
    flex-direction: row;
  }

  .app-screenshot {
    order: 1;
  }
}

@media (width > 1550px) {
  .header-container {
    grid-template-columns: 600px auto;
    gap: 80px;
    justify-content: start;
  }
}