.container:not(nav .container):not(footer .container):not(#footer .container) {
  transform: translateX(-100%);
  /* transform: ; */
  opacity: 0;
  transition: transform 800ms;
}

.container.restore:not(nav .container):not(footer .container):not(#footer .container) {
  transform: translateX(0);
  opacity: 1;
  /* background-color: red; */
}