:root {
  --white-color: #FFFCE4;
}

*, *::after, *::before {box-sizing: border-box; margin: 0;}

@font-face {
  font-family: avenir;
  src: url(/font/avenir-next.otf);
}
@font-face {
  font-family: fredoka;
  src: url(/font/fredoka.ttf);
}
@font-face {
  font-family: urbanist;
  src: url(/font/urbanist.ttf);
}

body {
  margin: 0;
  background-color: #000;
  background-image: url(/images/horny-background.png), url(/images/purple-glow.png);
  /* , url(/images/purple-glow.png) */
  /* background: radial-gradient(circle, red, green) center 20px; */
  background-blend-mode: exclusion;
  background-position: left top, -50px -50px;
  background-repeat: repeat, no-repeat;
  background-size: 100%, 400px 400px;
  color: var(--white-color);
  font-family: fredoka;
  font-weight: 400;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: inherit;
  font-family: inherit;
}

button {
  font-family: avenir;
  padding: 10px 25px;
  background: transparent;
  border-radius: 5px; 
  border: 1px solid var(--white-color);
  border-bottom: 3px solid var(--white-color);
  color: var(--white-color);
  cursor: pointer;
}

button:active {
  transform: translateY(3px);
  transition: transform 1ms;
}

.container {
  width: 80%;
  margin: 0 auto;
}

nav {
  background: rgba(19, 19, 19, 0.1);
  padding: 30px 0;
  font-family: urbanist;
  font-weight: 400;
}

#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

#nav > * {
  display: flex;
  gap: 20px;
  align-items: center;
}

#logo h2 {
  font-family: avenir;
  font-weight: 500;
}

#night-mode {
  width: 20px;
  cursor: pointer;
}

/* end of navigation bar style */

/* styles of main content START */
main {
  min-height: 80vh;
  margin-top: 50px;
}

main img.first-image {
  border-radius: 10px;
  border: 7px solid #FFFCE4;
  border-bottom-width: 15px;
}

main .block {
  display: flex;
  gap: 25px;
  margin-bottom: 100px;
}

.block > * {
  flex: 1;
}

.post >  * {
  margin-block-end: 25px;
}

.post > h2 + p {
  width: 50%;
}

.meta-data {
  display: flex;
  justify-content: space-between;
}

.meta-data > span:nth-child(2) {
  color: #828282;
}
/* styles of main contents END */

/* beginning of the 'two footers' style */
#footer {
  background-image: url(/images/stars-background.png), 
  url(/images/stars.png), url(/images/stars.png);
  background-position: left top, 5% 10%, 80% center;
  background-repeat: repeat, no-repeat, no-repeat;
  background-blend-mode: difference;
  text-align: center;
  padding: 100px 0;
}

#footer .container > * {
  margin-block: 20px;
}

#footer h2, #footer p {text-align: left;}
#footer p {padding: 0 20px;}

#socials {
  border-top: 1px solid var(--white-color);
  padding: 20px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}

#socials > * {
  display: flex;
  align-items: center;
  gap: 10px;
}

#footer-links {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 24px;
}

footer p {font-size: 24px;}
.footer-heading {margin-bottom: 30px;}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}

@media (width < 750px) {
  nav {
    padding: 30px 20px;
  }

  main .block {
    flex-direction: column;
  }

  #logo h2 {
    display: none;
  }

  /* #night-mode {
    display: none;
  } */

  #socials {
    padding-left: 70px;
  }
}
@media (width > 1050px) {
  #footer-links {
    flex-direction: row;
    justify-content: space-between;
  }

  #socials {
    flex-direction: row;
    align-items: center;
  }

  
  #footer-links > * {
    flex: 1;
  }

}

@media (width > 750px) and (width < 1050px) {
  #socials {
    flex-direction: row;
    align-items: center;
  }

  main .block {
    flex-direction: column;
  }
}
