:root {
  --white-color: #FFFCE4;
}

*, *::after, *::before {box-sizing: border-box; margin: 0;}

@font-face {
  font-family: avenir;
  src: url(/font/avenir-next.otf);
}
@font-face {
  font-family: fredoka;
  src: url(/font/fredoka.ttf);
}
@font-face {
  font-family: urbanist;
  src: url(/font/urbanist.ttf);
}

body {
  margin: 0;
  background-color: #000;
  background-image: url(/images/horny-background.png), url(/images/purple-glow.png);
  /* background-image: url(/images/horny-background.png), radial-gradient(#FF4848 10.05%, #FF48B6 25.9%, #B748D7 45.71%, #9448E8 68.92%, #6248FF 91%); */
  background-blend-mode: exclusion;
  background-position: left top, left -50px;
  background-repeat: repeat, no-repeat;
  background-size: 100%, 400px 400px;
  color: var(--white-color);
  font-family: fredoka;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: inherit;
  font-family: inherit;
}

img {
  max-width: 100%;
}

button {
  font-family: avenir;
  padding: 10px 25px;
  background: transparent;
  border-radius: 5px; 
  border: 1px solid var(--white-color);
  border-bottom: 3px solid var(--white-color);
  color: var(--white-color);
  cursor: pointer;
}

button:active {
  transform: translateY(3px);
  transition: transform 1ms;
}

.container {
  width: 80%;
  margin: 0 auto;
}

nav {
  background: rgba(19, 19, 19, 0.1);
  padding: 30px 0;
  font-family: urbanist;
  font-weight: 400;
}

#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

#night-mode {
  width: 20px;
  cursor: pointer;
}

#nav > * {
  display: flex;
  gap: 20px;
  align-items: center;
}

#logo h2 {
  font-family: avenir;
  font-weight: 500;
}
/* end of navigation bar style */

/* main content START */
main {
  min-height: 80vh;
  padding: 100px 0;
}

article > * {
  margin-block-end: 20px;
}

h1 {
  font-weight: 600;
  font-size: 40px;
  line-height: 40px;
}

.posted-by {
  font-weight: 700;
  font-size: 16px;
}

.time-of-post {
  font-size: 16px;
}

p.article {
  font-size: 24px;
  line-height: 30px;
}

.share-article {
  font-size: 24px;
  margin-bottom: 20px;
  width: fit-content;
}

aside {
  width: max-content;
  /* background-color: red; */
}

.share-to-links {
  display: flex;
  justify-content: space-between;
}
/* main contents END */

/* beginning of the 'two footers' style */
#footer {
  background-image: url(/images/stars-background.png), 
  url(/images/stars.png), url(/images/stars.png);
  background-position: left top, 5% 10%, 80% center;
  background-repeat: repeat, no-repeat, no-repeat;
  background-blend-mode: difference;
  text-align: center;
  padding: 100px 0;
}

#footer .container > * {
  margin-block: 20px;
}

#footer h2, #footer p {text-align: left;}
#footer p {padding: 0 20px;}

#socials {
  border-top: 1px solid var(--white-color);
  padding: 20px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}

#socials > * {
  display: flex;
  align-items: center;
  gap: 10px;
}

#footer-links {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 24px;
}

footer p {font-size: 24px;}
.footer-heading {margin-bottom: 30px;}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}

@media (width < 750px) {
  nav {
    padding: 30px 20px;
  }

  #logo h2 {
    display: none;
  }

  /* #night-mode {
    display: none;
  } */

  #socials {
    padding-left: 75px;
  }
}

@media (width > 750px) {
  #socials {
    flex-direction: row;
    align-items: center;
  }

  main {
    display: grid;
    grid-template-columns: auto 200px;
    gap: 50px;
    /* position: relative; */
  }

  main > *:nth-child(2) {
    align-self: start;
    margin-top: 150%;
  }

  aside {
    position: sticky;
    top: 30%;
  }
}

@media (width > 1050px) {
  #footer-links {
    flex-direction: row;
    justify-content: space-between;
  }
  
  #footer-links > * {
    flex: 1;
  }

}